.SearchBar {
	width: 95%;
	box-sizing: border-box;
	max-width: 600px;
	margin-bottom: 0px;
	box-shadow: 0px 4px 50px #DDD;
	display: flex;
	align-items: center;
	border-radius: 25px;
	height: 36px;
	/* padding-left: 15px; */
	display: flex;
	justify-content: center;
}

.SearchBar img {
	height: 18px;
}

.SearchBar input::placeholder {
	color: #CCC;
}

.SearchBar input {
	width: 80%;
}
